<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="assets/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/jquery.twbsPagination.min.js"></script>
    <link rel="stylesheet" href="assets/bootstrap-3.3.7/css/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="assets/sptc_logo.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    <h4><strong>Atenção!</strong><br>Caso haja problemas com a vizualização de vídeos, imagens ou aúdios cheque se seu navegador está atualizado ou utilize outro navegador  
                        Recomenda-se o uso de Mozilla Firefox ou Google Chrome.</h4>

                </div>
                <p>Para vizualizar os dados selecione um ítem na barra de navegação no topo da página.</p>
            </div>
        </div>
    </div>

</body>

</html>


<style>

</style>