<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="assets/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/jquery.twbsPagination.min.js"></script>
    <link rel="stylesheet" href="assets/bootstrap-3.3.7/css/bootstrap.min.css">

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-right">
                <span id="pagination-here-header"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1">Men.</th>
                            <th class="col-md-2">Data/Hora</th>
                            <th class="col-md-7">Texto</th>
                            <th class="col-md-2">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in pagination['items'] %}
                        <tr>
                            <td class="col-md-1">{{ message.id }}</td>
                            <td class="col-md-2">{{ message.timestamp|datetime }}</td>
                            <td class="col-md-7">
                                {% for attachment in message.attachments %}
                                <p>{{ attachment.meta_data if attachment.meta_data }}</p>
                                <p>{{ attachment.filename if attachment.filename }}</p>
                                {% endfor %}
                                <p>{{ message.body }}</p>
                            </td>
                            <td class="col-md-2">
                                <a href="chat{{ message.chat.id }}_page_{{ message.page_renderized }}.html#men-{{message.id}}">Ver
                                    na
                                    conversa</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <span id="pagination-here-footer"></span>
            </div>
        </div>
    </div>


</body>

</html>
<script>
    var total_clicks_footer = 0;
    var start_page = parseInt("{{ pagination['page'] }}");
    var total_pages = parseInt("{{ pagination['pages'] }}");
    $('#pagination-here-footer').twbsPagination({
        totalPages: total_pages,
        visiblePages: 10,
        startPage: start_page,
        prev: "&laquo;",
        next: "&raquo;",
        first: "←",
        last: "→",
        onPageClick: function (event, page) {
            total_clicks_footer += 1;
            if (total_clicks_footer > 1) {
                window.location.href = "timeline_page_" + page + ".html";
            }
        }
    });
    var total_clicks_header = 0;
    $('#pagination-here-header').twbsPagination({
        totalPages: total_pages,
        visiblePages: 10,
        startPage: start_page,
        prev: "&laquo;",
        next: "&raquo;",
        first: "←",
        last: "→",
        onPageClick: function (event, page) {
            total_clicks_header += 1;
            if (total_clicks_header > 1) {
                window.location.href = "timeline_page_" + page + ".html";
            }
        }
    });
</script>

<style>
    table {
        table-layout: fixed;
        word-wrap: break-word;
    }

    .emoji {
        width: 20px;
    }
</style>