{% extends 'base.html' %}
{% block content %}
<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-md-12">
            <h3>Houve um erro</h3>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert {{ category }} alert-dismissable">

                <strong>Mensagem!</strong> {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

</div>
{% endblock %}