{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Marcar ítens de interesse</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ol>

                <h4>Clique no menu arquivos:</h4>
                <video src="{{ url_for('static', filename='tutorial_videos/chat_attachments.wmv') }}"></video>
                <!-- <p><img src="{{ url_for('static', filename='tutorial_images/menu_files.png') }}" alt=""></p> -->
            </ol>
        </div>
    </div>
</div>
{% endblock %}